@import "../../utils/colors.css";

.featuredScoresDiv {
  width: 18rem;
  border-top: 15px inset var(--fuscia);
  border-radius: 5px;
  background-image: linear-gradient(var(--red) 0%, var(--fuscia) 100%);
  color: var(--white);
  box-shadow: 3px 3px 3px 3px var(--blue2);
}

.featuredGameImg {
  height: 20rem;
  padding: 1rem;
}

.featuredGame {
  font-family: "Press Start 2p";
  font-size: 1rem;
}

.highScores {
  font-family: "Press Start 2p";
  font-size: 1rem;
}

.featuredGameTitle {
  color: var(--lime);
  font-weight: bold;
  text-align: center;
  font-size: 0.8rem;
}

.featuredScoresList {
  text-align: center;
  padding: 0.5rem;
}

.featuredScore {
  font-family: "Press Start 2p";
  font-size: 0.8rem;
  color: var(--white);
  padding: 0.5rem;
}

.featuredUsername {
  color: var(--yellow);
}

@media screen and (max-width: 650px) {
  .featuredScoresDiv {
    max-width: 95vw;
  }
}
