@import "../../../utils/colors.css";

/* container for canvas and high scores card */
.gamePlayContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

/* container of Canvas */
.canvasContainer {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Press Start 2P";
  border-top: 15px inset var(--fuscia);
  border-radius: 5px;
  background-image: linear-gradient(var(--red) 0%, var(--fuscia) 100%);
  color: var(--white);
  box-shadow: 3px 3px 3px 3px var(--blue2);
}

.gamePlayTitle {
  font-size: 2rem;
  padding: 1rem;
}

.scoreCounter {
  color: var(--yellow);
}

.currentScore {
  color: var(--white);
}

.highScoreContainer {
  align-self: flex-start;
  /* width: 10rem; */
}

@media only screen and (max-width: 900px) {
  .gamePlayContainer {
    flex-direction: column;
  }
  .canvasContainer {
    max-width: 95vw;
  }
  .highScoreContainer {
    align-self: center;
    margin: 1.5rem;
  }
}
