#mainModal {
  width: 25%;
  border: 5px solid black;
  background-color: var(--orange2);
  font-size: 0.75rem;
}
/* .screenTextChange {
  display: flexbox;
  border-style: double black;
  
} */
/* font-family "play" is just a placeholder */
h3 {
  font-size: 1rem;
  font-family: "play";
}
