@import "../../utils/colors.css";

#mainModal {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
  background-image: linear-gradient(var(--red) 0%, var(--fuscia) 100%);
  border: solid 2px var(--fuscia);
  border-radius: 5px;
  position: absolute;
  transition: 2s ease;
  overflow: hidden;
  /* scrollbar-width: none; */
}

/* font-family "play" is just a placeholder */
h3 {
  font-size: 1rem;
  font-family: "play";
  margin-left: 3rem;
}
h1 {
  display: flex;
  justify-content: center;
}
.form-select {
  background-color: var(--lime);
  margin-left: 4rem;
  margin-bottom: 0.5rem;
  border-radius: 7%;
}
.save-button {
  outline: 3px solid var(--black);
  margin: 1rem;
  background-color: var(--lime);
  color: var(--navy);
}
.settingsOptions {
  border: solid 0.5rem var(--black);
  margin: 1rem;
  font-family: "Source Code Pro";
  color: var(--white);
  font-size: medium;
}
