@import "../../utils/colors.css";

.mainModal {
  width: 25rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  background-image: linear-gradient(var(--red) 0%, var(--fuscia) 100%);
  border: solid 2px var(--fuscia);
  border-radius: 5px;
  position: absolute;
  opacity: 0;
  transition: 1s ease;
  left: -30rem;
  box-shadow: 3px 3px 3px 3px var(--blue2);
}

.show {
  opacity: 100;
  left: 0rem;
}
/* font-family "play" is just a placeholder */
h3 {
  font-size: 1rem;
  font-family: "play";
  margin-left: 3rem;
}
h1 {
  display: flex;
  justify-content: center;
  margin: 1rem;
  font-weight: 200;
}
.form-select {
  background-color: var(--lime);
  margin-left: 4rem;
  margin-bottom: 0.5rem;
  border-radius: 7%;
}
.save-button {
  outline: 3px solid var(--black);
  margin-left: 15%;
  margin-bottom: 5%;
  background-color: var(--lime);
  color: var(--navy);
}
.settingsOptions {
  border: solid 0.5rem var(--black);
  margin: 2rem;
  font-family: "Source Code Pro";
  color: var(--white);
  font-size: medium;
}
