@import "../../utils/colors.css";

.homeViewContainer {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: 6rem;
  padding: 2rem;
}

@media only screen and (max-width: 900px) {
  .homeViewContainer {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }
  .featuredScoresDiv {
    margin: 2rem;
  }
}
