:root {
  --fuscia: #f72585;
  --red: #f94144;
  --orange1: #f3722c;
  --orange2: #f8961e;
  --orange3: #f9844a;
  --yellow: #f9c74f;
  --lime: #8ac926;
  --green: #90be6d;
  --darkgreen: #344e41;
  --seafoam: #94d2bd;
  --teal1: #43aa8b;
  --teal2: #4d908e;
  --blue1: #577590;
  --blue2: #277da1;
  --navy: #264653;
  --purple: #6a4c93;
  --white: #ffffff;
  --black: #252422;
}
