@import "../../utils/colors.css";

/* includes message display window and form elements */
.channelFeedFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.channelTitle {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  margin: 0;
}

/* message display feed */
.scrollable-div {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  font-family: "Source Code Pro", monospace;
  height: 150px;
  width: 95%;
  overflow: auto;
  margin: 0.5rem;
  text-align: justify;
  padding: 0.5rem;
}
.scrollBtn {
  font-family: "Source Code Pro", monospace;
  color: var(--darkgreen);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding-bottom: 5%;
}
ul{
  word-wrap: break-word;
  display: inline-block;
}
li{
  white-space: normal;
    float: left;
    width: 100%;
    height: auto;
    word-wrap: break-word;
}

.scrollable-div a {
  align-self: center;
  cursor: pointer;
  color: var(--orange1);
}

.chatFeed {
  margin: 0;
  padding: 0;
  list-style: none;
}

.displayedUsername {
  color: var(--fuscia);
  font-weight: bolder;
}
.displayedOwnUsername {
  color: var(--darkgreen);
  font-weight: bolder;
  text-align: right;
}
.ownMessage {
  float: right;
  text-align: right;
}
.otherMessage {
  float: left;
  text-align: left;
}

/* new message form elements */
.messageForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
  word-wrap: break-word;
}

.messageInput {
  width: 75%;
  height: 1.7rem;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  background-color: var(--orange2);
  color: var(--black);
  border: solid 2px var(--darkgreen);
  border-radius: 0 0 0 5px;
}
.messageInput:focus {
  background-image: linear-gradient(var(--teal1) 0%, var(--lime) 100%);
  border: solid 2px var(--darkgreen);
}

.sendBtn {
  width: 20%;
  height: 1.7rem;
  margin: 0;
  padding: 0;
  font-family: "Press Start 2p";
  font-size: 0.6rem;
  /* background-color: var(--fuscia); */
  background-image: linear-gradient(var(--red) 0%, var(--fuscia) 100%);
  border: solid 2px var(--fuscia);
  border-radius: 0 5px 0 0;
  color: var(--white);
}
.sendBtn:hover {
  color: var(--yellow);
  box-shadow: 0 0 10px var(--yellow);
}
