@import "../../../utils/colors.css";

/* container of all game option cards */
.menuCardsContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* individual game option cards */
.gameViewLink {
  box-shadow: 0 0 10px var(--yellow);
  border-top: 15px inset var(--fuscia);
  border-radius: 5px;
}
.gameViewLink:hover {
  box-shadow: 0 0 10px var(--red);
  text-decoration: none;
}

.gameViewLink:hover button {
  color: var(--yellow);
}

.gameViewLink:hover button {
  color: var(--yellow);
}

.gameViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 5px 5px;
  width: 25rem;
  background-image: linear-gradient(var(--red) 0%, var(--fuscia) 100%);
}
.gameViewContainer:hover div a {
  color: var(--yellow);
}

/* text components & button link */
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: "Press Start 2P";
}

.cardTitle {
  color: var(--orange2);
  /* width: 100%; */
}

.cardText {
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
  text-align: center;
  color: var(--white);
}

.playBtn {
  background-color: var(--purple);
  color: var(--teal1);
  text-align: center;
  align-self: center;
  width: 10rem;
}

@media screen and (max-width: 650px) {
  .menuCardsContainer {
    flex-direction: column;
    max-width: 100vw;
  }
  .gameViewLink {
    margin: 1rem;
  }
}
