@import "../../utils/colors.css";

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navy);
  padding: 1rem;
}

.headerTitle {
  color: var(--yellow);
  font-size: 2rem;
  margin-left: 1.5rem;
}

.navBar {
  list-style: none;
  display: flex;
}

.navLink {
  margin: 2rem;
  color: var(--lime);
  font-size: 1.5rem;
}
.navLink:hover,
.nav {
  color: var(--fuscia);
  text-decoration: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 650px) {
  .headerDiv {
    flex-direction: column;
  }
}
