@import "../../utils/colors.css";

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--navy); */
  padding: 1rem;
  font-family: "Press Start 2P";
  z-index: 4;
}

.headerTitle {
  color: var(--fuscia);
  font-size: 2rem;
  margin-left: 1.5rem;
}

.navBar {
  list-style: none;
  display: flex;
}

.navLink {
  margin: 2rem;
  color: var(--lime);
  font-size: 1.5rem;
  cursor: pointer;
}

.navLink:hover,
.nav {
  color: var(--fuscia);
  text-decoration: none;
  text-shadow: 100px 100px 100px var(--red);
}

.hidden {
  display: none;
}

@media screen and (max-width: 650px) {
  .headerDiv {
    flex-direction: column;
    max-width: 100vw;
  }
}
@media screen and (max-width: 600px) {
  .headerDiv {
    text-align: center;
  }
  .navBar {
    flex-direction: column;
    text-align: center;
  }
}
