@import "../../utils/colors.css";

/* styling for aside container */
.chatAside {
  background-image: linear-gradient(var(--orange1) 0%, var(--yellow) 100%);
  border-top: 15px inset var(--fuscia);
  border-radius: 5px;
  width: 20rem;
  position: fixed;
  right: 0;
  bottom: 0;
}
.chatAside:hover {
  box-shadow: 0 0 10px var(--fuscia);
}

/* styling for the channel tabs at the top of the chat */
.chatChannelsList {
  font-family: "Press Start 2p";
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
}

.collapseChatBtn {
  color: var(--lime);
  margin: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
}

.collapseChatBtn:hover {
  text-shadow: 0 0 10px var(--teal1), 0 0 15px var(--teal1), 0 0 30px;
}

.channelLink {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--yellow);
  border-radius: 0 5px 0 5px;
  color: var(--white);
  width: 40%;
}

.channelLink:hover {
  color: var(--yellow);
  box-shadow: 0 0 10px var(--yellow);
}
